{% extends 'db/layout_db.html' %} 
{% load static %} 
{% block title %} Добавление записи {% endblock %} 
{% block header %}
<div class="headerNav">
    <div class="headerNavLogo">
        <a href="{% url 'home' %}">
            <img src="{% static 'main/img/logo.png' %}" alt="" />
        </a>
    </div>
</div>
{% endblock %} 
{% block content %}
<div class="content">
    <form action="/results/" method="post" content='text/html; charset=UTF-8' accept-charset="UTF-8" class="requestForm">
        {% csrf_token %} 
        <div class="ArticleForm">
            {{ formArticle.title }} 
            {{ formArticle.full_text }} 
        </div>
        <div class="PersonForm">
            {{ formPersons.surnamePersons }} 
            {{ formPersons.namePersons }} 
            {{ formPersons.fatherNamePersons }} 
            {{ formPersons.jobTitlePersons }} 
            {{ formPersons.salaryPersons }}
        </div>
        <div class="DepositesForm">
            {{ formDeposites.depositeCode }}
            {{ formDeposites.depositeName }}
            {{ formDeposites.minDepositePeriod }}
            {{ formDeposites.minDepositeValue }}
            {{ formDeposites.currencyCode }}
            {{ formDeposites.interestRate }}
        </div>
        <span>{{ error }}</span>
        <button type="submit" class="">Добавить</button>
    </form>
</div>
{% endblock %}
