{% extends 'db/layout_db.html' %} 
{% load static %} 
{% block title %} Добавление записи {% endblock %} 
{% block header %}
<div class="headerNav">
    <div class="headerNavLogo">
        <a href="{% url 'home' %}">
            <img src="{% static 'main/img/logo.png' %}" alt="" />
        </a>
    </div>
</div>
{% endblock %} 
{% block content %}
<div class="content">
    <form action="/results/" method="post" content='text/html; charset=UTF-8' accept-charset="UTF-8" class="requestForm">
        {% csrf_token %} 
        {{ form.title }} <br />
        {{ form.full_text }} <br />
        {{ form.surnamePersons }} <br />
        {{ form.namePersons }} <br />   
        {{ form.fatherNamePersons }} <br />
        {{ form.jobTitlePersons }} <br />
        {{ form.salaryPersons }} <br />
        <span>{{ error }}</span>
        <button type="submit" class="buttonAdd">Добавить</button>
    </form>
</div>
{% endblock %}
