{% extends 'main/layout.html' %}
{% load static %}
{% block title %} Регистрация {% endblock %}
{% block header %}
<div class="headerNav">
    <div class="headerNavLogo">
        <a href="{% url 'home' %}">
            <img src="{% static 'main/img/logo.png' %}" alt="" />
        </a>
    </div>
    <div class="headerNavSignin-link">
        <a href="{% url 'registration' %}">Войти\зарегистрироваться</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="contentRegistration"> 
    <h1>Создайте аккаунт</h1>
    <p>Пожалуйста зарегистрируйтесь используя следующую форму</p>
    <form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Создать аккаунт"></p>
    </form>
    <div class="linkToSignin">
        <a href="{% url 'signin' %}">Или войти</a>
    </div>
</div>
{% endblock %}